<section>
<img src="assets/Paris.jpeg">

<table>
<tr>
    <th>
        Nom
    </th>
    <th>
        Prenom
    </th>
    <th>
        Rue
    </th>
    <th>
        Code Postal
    </th>
    <th>
        Ville
    </th>
    <th>
        Email
    </th>
    <th>
        Sexe
    </th>
    <th>
        Age
    </th>
    <th>
        ID
    </th>
</tr>
<tr *ngFor="let etudiant of tabEtudiant">
    <ng-container *ngIf="etudiant._ville == 'Paris'">
        <td>{{ etudiant._nom }}</td>
        <td>{{ etudiant._prenom }}</td>
        <td>{{ etudiant._rue }}</td>
        <td>{{ etudiant._cp }}</td>
        <td>{{ etudiant._ville }}</td>
        <td>{{ etudiant._courriel }}</td>
        <td>{{ etudiant._genre }}</td>
        <td>{{ etudiant._age }}</td>
        <td>{{ etudiant._idCand }}</td>
    </ng-container>
</tr>
</table>
</section>
